# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=aqui você coloca a connection string do Azure Blob Storage
AZURE_BLOB_CONTAINER_NAME=nome-do-container
AZURE_STORAGE_ACCOUNT_NAME=nome-da-conta-de-armazenamento

# Azure SQL
AZURE_SQL_SERVER=seu-servidor.database.windows.net
AZURE_SQL_DATABASE=nome-do-banco
AZURE_SQL_USERNAME=usuario-do-banco
AZURE_SQL_PASSWORD=senha-do-banco
